@{
    ViewData["Title"] = "Головна сторінка";
}

<h2>Ласкаво просимо до системи ОСББ!</h2>
<p>Ця система створена для зручного управління житлом та комунікації між жителями. Тут ви можете:</p>
<ul>
    <li>Переглядати інформацію про свою квартиру та житловий комплекс.</li>
    <li>Слідкувати за актуальними проектами та новинами.</li>
    <li>Подавати скарги та запити до адміністрації.</li>
    <li>Керувати своїм профілем та особистими даними.</li>
</ul>
<p>Ми прагнемо зробити ваше життя комфортнішим і зручнішим. Дякуємо, що ви з нами!</p>
